nav {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}
